.main-app {
    border: 2px solid #eee;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    min-height: 85vh;
}
.main-app > h4 {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
.inp:focus {
    border:0;
    outline: 0;
}

.chatboxes {
    padding: 30px;
    overflow-y: auto; 
    height: 90vh;
}

.bot-chat, .man-chat {
    margin: 5px 0;
    background: #a5d274;
    padding: 5px 10px 0px 10px;
    width: max-content;
    border-radius: 20px;
    color: #fff;
    max-width: 40%;
    word-wrap: break-word;
}
.bot-chat p, .man-chat p {
    padding-bottom: 5px;
}


.man-chat {
    background: #f8f8f8;
    color: #333;
}